*.iml
.gradle
.idea
build.gradle
gradle.properties
grardlew
gradlew.bat
settings.gradle
/local.properties
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
